.main-container-noticias {
    width: 60%;
    padding: 10px;
    background-color: #30336b;
    border-radius: 10px 0px 0px 10px;
}
.main-container-noticias h2 {
   display: block;
   padding: 5px;
   color: snow;
}
.main-container-noticias .contenedor-noticias {
    padding: 10px;
}
.contenedor-noticias div {
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid rgba(209, 203, 203, 0.376);
}