.tarjeta-noticia {
    color: snow;
    padding: 5px;
    cursor: pointer;
}
.tarjeta-noticia:hover {
    background-color: rgba(241, 241, 241, 0.061);
}
.tarjeta-noticia h3 {
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
}
.tarjeta-noticia .descripcion-noticia {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 15px;
}
.tarjeta-noticia .descripcion-noticia span,
.tarjeta-noticia h3 span {
    font-size: 18px;
}
.tarjeta-noticia .fecha-noticia {
    font-style: italic;
    font-size: 12px;
}
.tarjeta-noticia h3 span,
.tarjeta-noticia .descripcion-noticia span,
.tarjeta-noticia .fecha-noticia span {
    color: rgb(142 147 153);
}

